.page-content {
    padding: 0 77px;
}

.title-wrap {
    position: relative;
    top: 20px;
    margin-bottom: 100px;
}

.title { 
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 25.18px;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    font-family: monospace;
}

.container__img {
    width: 539px;
    height: 447px;
}

.container__content-wrap {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__header {
    font-size: 64px;
    font-weight: 700;
    line-height: 94.78px;
    margin: 0;
    color: #333;
}

.content__main {
    font-size: 24px;
    font-weight: 400;
    line-height: 35.54px;
    color: #4f4f4f;
    max-width: 350px;
    display: block;
}

.content__back-to-home {
    display: flex;
    text-decoration: none;
    width: 216px;
    height: 68px;
    background-color: #333;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.content__back-to-home span {
    margin: auto;
}

.footer {
    margin-top: 50px;
    text-align: center;
}

.footer__copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #333;
}